*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/img/imagen-fondo-homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
}

header{
    background-color: #020726;
    opacity: 0.8;
}
header div{
    margin-left: 10%;
}

header img{
    width: 250px;
    display: block;
    text-align: left;
    /* margin: auto; */
    border-top: 1px solid #fff;
}

h1{
    margin-left: 10px;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
    text-align: left;
}


.cont-user-info{
    width: 40%;
    margin: 120px auto;
    background-color: #1e104d;
    opacity: 0.9;
}
.cont-user-info h2{
    padding: 7px 0;
    text-align: center;
    color: #fff;
}

.accesos-stats-flex{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.accesos h3{
    margin: 5px 0;
    padding: 8px;
    color: #fff;
    background-color: steelblue;
    border-radius: 2px;
    text-align: center;
}

.stats h4{
    font-size: 30px;
    border-bottom: 1px solid #fff;
}
.stats h4, .stats p{
    color: #fff;
}
.stats p{
    margin: 10px 0;
}

.cont-buscador{
    width: 60%;
    padding: 20px;
    margin: auto;
    background-color: #000;
    opacity: 0.9;
}
.cont-buscador div{
    display: flex;
    justify-content: space-between;
}
.cont-buscador h3, .cont-buscador h4{
    font-weight: lighter;
    color: #fff;
}
.cont-buscador select{
    width: 80px;
    height: 30px;
}

.barra-busqueda{
    width: 70%;
    height: 25px;
    margin-bottom: 10px;
}
