<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2020.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
    <link rel="stylesheet" href="public/css/estilos-general.css">
    <link rel="stylesheet" href="../public/css/estilos-general.css">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

</head>
<header  class="w3-2020-navy-blazer w3-cursive">
    <nav>
        <div class="w3-third">
            <h1 class="w3-center">Gaucho Rocket</h1>
        </div>
        <div class="w3-third">
            <a href="/home"><img src="/public/isotipo.png "style="width:80%" alt=""></a>
        </div>
        <div class="w3-dropdown-click w3-third w3-2020-navy-blazer w3-center">
            <button onclick="myFunction()" class="w3-button w3-right w3-margin-bottom w3-margin-top " style="width:100%">Menu</button>
            <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
                {{#admin}}
                    <a href="/admin" class="w3-bar-item w3-button">Vista de Admin</a>
                {{/admin}}
                {{^sesion}}
                    <a href="/registrar" class="w3-bar-item w3-button">Registrarme</a>
                    <a href="/login" class="w3-bar-item w3-button">Ingresar</a>
                {{/sesion}}
                <a href="/home" class="w3-bar-item w3-button">Home</a>
                {{#sesion}}
                    <a href="/perfil" class="w3-bar-item w3-button">Perfil</a>
                    <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Cerrar Sesion</a>

                    <div id="id01" class="w3-modal w3-padding-16">
                        <div class="w3-modal-content w3-animate-top w3-card-4" style="width: 30%; margin-top: 10%">
                            <header class="w3-container w3-blue">
                        <span onclick="document.getElementById('id01').style.display='none'"
                              class="w3-button w3-display-topright">&times;</span>
                                <h4>Esta seguro que quiere cerrar sesion?</h4>
                            </header>
                            <footer class="w3-container w3-light-blue w3-center">
                                <a class="w3-button w3-red w3-margin" href="/login/cerrarSesion">Cerrar sesion</a>
                            </footer>
                        </div>
                    </div>
                {{/sesion}}

            </div>
        </div>
    </nav>
    <script>
        function myFunction() {
            var x = document.getElementById("Demo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <nav>
        <div class="w3-bar  w3-center w3-2020-navy-blazer">

            <a href="/vuelos" style="width:20%" class="w3-bar-item w3-button w3-mobile">Vuelos</a>
            <a href="#" style="width:20%" class="w3-bar-item w3-button w3-mobile">Recorridos</a>
            <a href="#" style="width:20%" class="w3-bar-item w3-button w3-mobile">Calendario</a>
            <a href="#" style="width:20%" class="w3-bar-item w3-button w3-mobile">Cabinas</a>
            <a href="/turnos" style="width:20%" class="w3-bar-item w3-button w3-mobile">Turnos y chequeos medicos</a>
        </div>

    </nav>

</header>