<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

</head>

<body>

<header>
    <h1>Gaucho Rocket</h1>
    <a href="/home"><img src="public/isotipo.png" alt=""></a>
    <div class="reg-login-btn">
        <a href="/registrar"><h2>Registrarme</h2></a>
        <a href="/login"><h2>Ingresar</h2></a>
    </div>
</header>