*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5B5B75;
    font-family: 'Montserrat';

}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
label{

    font-size: 15px;
}

#perfil-div{
    font-weight: bold !important;
    font-size: large !important;
}