{{>header}}
<link rel="stylesheet" href="../css/estilos.css">
<link rel="stylesheet" href="../css/estilos-principal.css">
    <nav>
        <ul>
            <!-- A este menu se le podria agregar un acceso al inicio, o ponerle
            tambien un "Acerca" o "About Us", etc.-->
            <li><a href="#">Vuelos</a></li>
            <li><a href="#">Recorridos</a></li>
            <li><a href="#">Calendario</a></li>
            <li><a href="#">Cabinas</a></li>
        </ul>
    </nav>

    <section>
        <article>

            <div class="contenedor-flexible">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem exercitationem suscipit
                        atque cum aperiam doloribus molestias! Ducimus dolor qui nisi assumenda explicabo, recusandae sed
                        sapiente adipisci quam non aliquid.</p>
                </div>
                <div class="cont-text-sobre-imagen">
                    <h3>Nuestros TOURS</h3>
                    <img src="../public/imagen-nuestros-tours.jpg" alt="">
                </div>
            </div>
            
            <div class="contenedor-flexible-invertido">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem exercitationem suscipit
                        atque cum aperiam doloribus molestias! Ducimus dolor qui nisi assumenda explicabo, recusandae sed
                        sapiente adipisci quam non aliquid.</p>
                </div>
                <div class="cont-text-sobre-imagen">
                    <h3>Viajes mas Economicos</h3>
                    <img src="../public/imagen-viajes-economicos.jpg" alt="">
                </div>
            </div>

            <div class="contenedor-flexible">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem exercitationem suscipit
                        atque cum aperiam doloribus molestias! Ducimus dolor qui nisi assumenda explicabo, recusandae sed
                        sapiente adipisci quam non aliquid.</p>
                </div>
                <div class="cont-text-sobre-imagen">
                    <h3>Servicio a bordo spa</h3>
                    <img src="../public/imagen-hospedaje.jpg" alt="">
                </div>
            </div>

        </article>
    </section>

</body>
<!--testeando primer commit-->
</html>