{{>header}}
<link rel="stylesheet" href="public/css/estilos-general.css">
    <section class="w3-container w3-center w3-padding-16 w3-text-white" style="width: 60%; margin: auto">
        <article>

            <div class="w3-row w3-padding-16">
                <div class="w3-col s6 w3-center" style="padding: 50px">
                    <p class="">Disfruta de los mejores tours posibles <p class="w3-text-red" style="font-weight: bold">ALREDEDOR DE TODA LA GALAXIA</p>
                        miles de paisajes y aventuras te esperan</p>
                </div>
                <div class="w3-col s6 w3-display-container">
                    <img class="w3-round w3-image" style="height: auto; width: auto" src="public/imagen-nuestros-tours.jpg" alt="">
                    <div class="w3-display-middle w3-large"><h1 style="background-color:rgba(24,67,194,0.7);font-size: xxx-large" >Nuestros TOURS</h1></div>
                </div>
            </div>
            
            <div class="w3-row w3-padding-16 ">
                <div class="w3-col s6 w3-display-container">
                    <img class="w3-round w3-image" style="height: auto; width: auto" src="../public/imagen-viajes-economicos.jpg" alt="">
                    <div class="w3-display-middle w3-large"><h1 style="background-color:rgba(24,67,194,0.7);font-size: xxx-large">Viajes mas economicos</h1></div>
                </div>
                <div class="w3-col s6 w3-center" style="padding: 50px">
                    <p class="">Disponemos de los mejores precios <p class="w3-text-red" style="font-weight: bold">PROMOS INCREIBLES</p>
                    para ti, tus amigos y toda tu familia</p>
                </div>
            </div>

            <div class="w3-row w3-padding-16">
                <div class="w3-col s6 w3-center" style="padding: 50px">
                    <p class="">Nuestros servicios son de primera clase <p class="w3-text-red" style="font-weight: bold">SIEMPRE PRIORIZANDOLO A USTED</p>
                    nos encargaremos de que disfrute su viaje al maximo</p>
                </div>
                <div class="w3-col s6 w3-display-container">
                    <img class="w3-round w3-image" style="height: auto; width: auto" src="../public/imagen-hospedaje.jpg" alt="">
                    <div class="w3-display-middle w3-large"><h1 style="background-color:rgba(24,67,194,0.7);font-size: xxx-large">Servicio a bordo</h1></div>
                </div>
            </div>

        </article>
    </section>

</body>
<!--testeando primer commit-->
</html>