{{>header}}
<link rel="stylesheet" href="../public/css/estilos.css">
<link rel="stylesheet" href="../public/estilos-principal.css">
    <section>
        <article>

            <div class="contenedor-flexible">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem exercitationem suscipit
                        atque cum aperiam doloribus molestias! Ducimus dolor qui nisi assumenda explicabo, recusandae sed
                        sapiente adipisci quam non aliquid.</p>
                </div>
                <div class="cont-text-sobre-imagen">
                    <h3>Nuestros TOURS</h3>
                    <img src="../public/imagen-nuestros-tours.jpg" alt="">
                </div>
            </div>
            
            <div class="contenedor-flexible-invertido">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem exercitationem suscipit
                        atque cum aperiam doloribus molestias! Ducimus dolor qui nisi assumenda explicabo, recusandae sed
                        sapiente adipisci quam non aliquid.</p>
                </div>
                <div class="cont-text-sobre-imagen">
                    <h3>Viajes mas Economicos</h3>
                    <img src="../public/imagen-viajes-economicos.jpg" alt="">
                </div>
            </div>

            <div class="contenedor-flexible">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptatem exercitationem suscipit
                        atque cum aperiam doloribus molestias! Ducimus dolor qui nisi assumenda explicabo, recusandae sed
                        sapiente adipisci quam non aliquid.</p>
                </div>
                <div class="cont-text-sobre-imagen">
                    <h3>Servicio a bordo spa</h3>
                    <img src="../public/imagen-hospedaje.jpg" alt="">
                </div>
            </div>

        </article>
    </section>

</body>
<!--testeando primer commit-->
</html>