{{>header}}
    <link rel="stylesheet" href="/public/css/estilos-login.css">
    <div class="login">
        

        <h2>Login</h2>
        <form action="/Login/procesarLogin" method="POST" enctype="multipart/form-data">
      
        
          <label for="usuario"></label>
          <input type="text" id="usuario" placeholder="Enter Username" name="usuario" >
      
          <label for="password"></label>
          <input type="password" id="password" placeholder="Enter Password" name="password" >
       
          <input type="submit" name="enviar" value="Enviar">
      </form>

    </div>



</body>

</html>
