{{>header}}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../public/estilos.css">
    <link rel="stylesheet" href="../public/estilos-login.css">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Sesiones</title>
</head>


    <div class="login">
        

        <h2>Login</h2>
        <form action="/LoginController.php/procesarLogin" method="post" enctype="multipart/form-data">
      
        
          <label for="usuario"></label>
          <input type="text" id="usuario" placeholder="Enter Username" name="usuario" >
      
          <label for="password"></label>
          <input type="password" id="password" placeholder="Enter Password" name="password" >
       
          <input type="submit" name="enviar" value="enviar">
      </form>

    </div>



