{{>header}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="public/css/estilos-general.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2020.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<body>
    <div class="w3-container" >
        <a href="/admin/lista" class="w3-button w3-block w3-margin-top w3-2020-navy-blazer" style="width:100%"><p>Lista Usuarios</p></a>
        <a href="/admin/vuelos" class="w3-button w3-block w3-margin-top w3-2020-navy-blazer" style="width:100%"><p>Vuelos</p></a>
        <a href="/admin/reportes" class="w3-button w3-block w3-margin-top w3-2020-navy-blazer" style="width:100%"><p>Reportes</p></a>
    </div>
</body>
