{{>header}}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="public/css/estilos-general.css">
  <!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <title>Sesiones</title>
</head>
{{#error}}

<div >
  <div class="w3-panel w3-red w3-display-container w3-round" style="width: 30%; margin-left: auto; margin-right: auto">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-red w3-round-xlarge w3-display-right">X</span>
    <p class="w3-center">Ya existe un usuario con esos datos</p>

  </div>
</div>
{{/error}}

<div style="width: 40%; margin: auto" class="w3-white w3-margin-top w3-card-4 w3-center w3-padding-16">

  <div class="w3-container w3-blue">
    <h2>Registrarse</h2>
  </div>
  <form action="/registrar/registrarUsuario" method="post"
        enctype="application/x-www-form-urlencoded">


    <label style="font-size: x-large" for="nombre"><b>Nombre de usuario</b></label>
    <input class="w3-input" type="text" id="nombre" placeholder="Ingrese Usuario" name="usuario" required>

    <label style="font-size: x-large" for="nombre"><b>Email</b></label>
    <input class="w3-input" type="email" id="email" placeholder="Ingrese Email" name="email" required>

    <label style="font-size: x-large" for="nombre"><b>Clave</b></label>
    <input class="w3-input" type="password" id="clave" placeholder="Ingrese Clave" name="password" >


    <input class="w3-btn w3-blue w3-margin-top" type="submit" name="enviar" value="Enviar">
  </form>

</div>