{{>header}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="public/css/estilos-general.css">
<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<body>
    {{#error}}
        <div>
            <div class="w3-panel w3-red w3-display-container w3-round" style="width: 30%; margin-left: auto; margin-right: auto">
                <span onclick="this.parentElement.style.display='none'" class="w3-button  w3-hover-light-grey w3-round w3-display-right">X</span>
                <p class="w3-center">las opciones que selecciono no estan disponibles, disculpe las molestias.</p>

            </div>
    {{/error}}
            {{#disponible}}
            <div class="w3-container w3-center w3-panel w3-red w3-display-container w3-round" style="width: 30%; margin-left: auto; margin-right: auto">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-round-xlarge w3-display-right w3-hover-light-grey">X</span>
                <p class="w3-center">desea anotarse en la lista de espera?</p>
                {{#vuelo}}
                 <a href="/vuelos/agregarReservaEnEspera?id={{idVuelo}}"><button class="w3-button w3-round-xlarge w3-hover-red  w3-hover-light-grey">SI</button></a>
                {{/vuelo}}
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-round-xlarge w3-hover-light-grey">NO</span>
            </div>
            {{/disponible}}
        </div>
    <div class="w3-container w3-card w3-content w3-center w3-padding-64 w3-text-black w3-2020-navy-blazer w3-margin-top">
    <form action="/vuelos/procesarReserva" method="post" enctype="multipart/form-data">
        <table class="w3-table w3-bordered w3-centered w3-text-white">
            <tr>
                
                <th>Vuelo</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Disponible</th>
                <th>Precio</th>
                <th>aeronave</th>
                <th>Cabinas</th>
                <th>Asiento</th>
                <th>RESERVAR</th>
            </tr>
            {{#vuelo}}
            <tr>
                
                <td>{{nombreVuelo}}</td>
                <td>{{origen}}</td>
                <td>{{destino}}</td>
                <td>{{fecha}}</td>
                <td>{{tipo}}</td>
                <td>{{capacidad}}</td>
                <td>{{precio}}</td>
                <td>{{nombre}}</td>
                <td>
                        <select name="cabina" id="cabina">
                            <option value="cabinaFamiliar">Cabina Familiar</option>
                            <option value="cabinaSuite">Cabina Suit</option>
                            <option value="cabinaGeneral">Cabina General</option>
                        </select>
                   </td>
                <td><select name="asiento" id="asiento">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></td>
                <td><input type="radio" name="idVuelo" value="{{idVuelo}}"class="w3-text-white w3-button w3-block w3-margin-top " style="background-color: #5B5B75;"><p>RESERVAR</p></a></td>
            </tr>

            {{/vuelo}}
        </table>
        <button class="w3-text-white w3-button w3-block w3-margin-top "style="background-color: #5B5B75;"> confirmar</button>
                <a href="/vuelos" class="w3-text-white w3-button w3-block w3-margin-top " style="background-color: #5B5B75;">Volver</a>
    </form>
    </div>
</body>
</html>