{{>header}}

<body style="background-color: #435165;">

  <div class="w3-container">

    <h2 class="w3-center">Validacion</h2>

    <div class="w3-container w3-center w3-padding-16 w3-white" style="width: 50%; margin: auto">
      <h3>
          Haga click <a style=" font-size: x-large" href="/registrar/validarCuenta?validacion={{validacion}}&email={{email}}">aqui</a> para validar su cuenta
      </h3>
      <a class="w3-btn w3-red" href="/registrar">Volver al registro</a>
    </div>

  </div>

</body>
</html>