    <link rel="preconnect" href="https://fonts.googleapis.com">
{{>header}}

<link rel="stylesheet" href="public/css/estilos-general.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2020.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<script>
    function myFunction1(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
    {{#avionNoDisponible}}
    <div>
        <div class="w3-panel w3-red w3-display-container w3-round" style="width: 30%; margin-left: auto; margin-right: auto">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-hover-red w3-round-xlarge w3-display-right">X</span>
            <p class="w3-center">Avion no disponible.</p>
        </div>
    </div>
    {{/avionNoDisponible}}
<body style="background-color: #5B5B75">

<div class="w3-center">
    <div class="w3-bar" style="width: 75%">
        <button onclick="myFunction1('Demo1')" class="w3-button w3-block w3-center-align w3-margin-top w3-text-white w3-2020-navy-blazer" style="width: 100%">Dar de alta un vuelo</button>

            <div id="Demo1" class="w3-container w3-hide w3-2020-navy-blazer w3-margin w3-padding">
                <form action="/admin/darDeAlta " enctype="multipart/form-data" method="post">

                    <div class="w3-margin">
                        <label for="nombreVuelo"class="w3-left "><p><strong>Nombre de vuelo :</strong></p></label>
                        <input class="w3-input w3-2020-navy-blazer w3-hover-grey" type="text" id="nombreVuelo" name="nombreVuelo">
                    </div>
                    <div class="w3-row-padding w3-margin-top">

                        <div class="w3-third">
                            <label for="origen"class="w3-left"><p><strong>Origen :</strong></p></label>
                            <select name="origen" class="w3-margin" style="width: 100%" id="origen">
                                {{#origen}}
                                    <option value="{{id}}"><h3>{{origen}}</h3></option>
                                {{/origen}}
                            </select>
                        </div>


                        <div class="w3-third">
                            <label for="destino"class="w3-left"><p><strong>Destino :</strong></p></label>
                            <select name="destino" class="w3-margin" style="width: 100%" id="destino">
                                {{#destinos}}
                                    <option value="{{id}}"><h3>{{destino}}</h3></option>
                                {{/destinos}}
                            </select>
                        </div>
                        <div class="w3-third">
                            <label for="fecha"class="w3-left"><p><strong>Fecha :</strong></p></label>
                            <input class="w3-input w3-2020-navy-blazer w3-hover-grey" id="fecha" name="fecha" type="date">
                        </div>
                    </div>
                    <div class="w3-row-padding w3-margin-top">
                        <div class="w3-half " >
                            <label for="duracion"class="w3-left"><p><strong>Duracion (en horas) :</strong></p></label>
                            <input class="w3-input w3-2020-navy-blazer w3-hover-grey" id="duracion" name="duracion" type="number">
                        </div>
                        <div class="w3-third w3-margin-left w3-margin-right">
                            <label for="precio"class="w3-left"><p><strong>Precio :</strong></p></label>
                            <input class="w3-input w3-2020-navy-blazer w3-hover-grey" id="precio" name="precio"  type="number">
                        </div>
                    </div>
                    <div class="w3-row-padding w3-margin-top w3-margin-bottom">
                            <div class="w3-half">
                                <label for="aeronave"class="w3-left"><p><strong>Aeronave:</strong></p></label>
                                <select name="aeronave" class="w3-margin" style="width: 100%" id="aeronave">
                                    {{#aeronave}}
                                        <option value="{{id}}">{{nombre}}</option>
                                    {{/aeronave}}
                                </select>
                            </div>
                    </div>

                    <button type="submit" class="w3-text-white w3-button w3-block w3-margin-top" style="background-color: #5B5B75";> Confirmar</button>
                </form>
            </div>
        <button onclick="myFunction1('Demo2')" class="w3-button w3-block w3-center-align w3-margin-top w3-text-white w3-2020-navy-blazer" style="width: 100%">Administrar Vuelos</button>


        <div id="Demo2" class="w3-container w3-padding-16 w3-hide w3-2020-navy-blazer">
            <form action="/admin/eliminarVuelo" enctype="multipart/form-data" method="POST">
                <table class="w3-table-all w3-centered">
                    <tr class="w3-black">
                        <th>Nombre</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Duracion (hs)</th>
                        <th>Precio</th>

                        <th></th>
                        <th></th>

                    </tr>
                     {{#vuelos}}
                    <tr style="background-color: #435165">
                        <td>{{nombreVuelo}}</td>
                        <td>{{origen}}</td>
                        <td>{{destino}}</td>
                        <td>{{fecha}}</td>
                        <td>{{duracion}}</td>
                        <td>{{precio}}



                       <td><input type="radio" name="idVuelo" value="{{idVuelo}}"class="w3-text-white w3-button w3-block w3-margin-top " style="background-color: #5B5B75;">eliminar</td>

                    </tr>
                    {{/vuelos}}
                </table>
                <button type="submit" class="w3-text-white w3-button w3-block w3-margin-top" style="background-color: #5B5B75"> Eliminar</button>
            </form>
        </div>


        <a href="/admin" class="w3-btn w3-container w3-2020-navy-blazer w3-margin w3-padding">Volver</a>
    </div>


</div>
</body>
</html>